h1{
    font-family: 'Playfair Display', serif;
    font-weight:600;
    font-style: italic;
    font-size: 3rem;
    text-align: center;
    color: #1d3557;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: #e63946;
    text-align: center;
}
p {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    color: #1d3557;
    text-align: justify;
}
div {
    
    border-radius: 50%;
    border-color: blue;
}
body {
    background-color: #f1faee;
}
a {
    color: #e63946;
    font-size: 1.5;
    font-weight: bold;
    text-align: center;
}